@import "reset.css";
@import "variables.css";
@import "cssForJavascript.css";

/*Screens*/
@import "screens/meal.css";
@import "screens/time.css";
@import "screens/home.css";
@import "screens/signup.css";
@import "screens/login.css";

/*compenents*/
@import "components/nav.css";



@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
	font-family: 'Pretendard-Regular';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    min-height: 100vh;
    background-color: var(--primary-color);
    transition: var(--tran-05);
}

.home{
    padding: 43px 80px;
}

.in-content-1{
    width: 650px;
}

.in-content-2{
    background-color: var(--primary-color);
    width: 600px;
    height: 150px;
    border-radius: 12px;
    box-shadow: inset 0px 0px 6px 0px rgb(220, 220, 220);
}

.title-1__text, .title-2__text{
    color: var(--main-color);
    font-size: 20px;
}

.title-1, .title-2{
    margin-bottom: 25px;
}

.page__title {
    color: var(--main-color);
    font-size: 20px;
}
