/* settings */
@import "reset.css";
@import "variables.css";

/* components */
@import "components/menu.css";
/* screens */


html, body {
    height: 200%;
  }

main {
    padding-left: 260px;
}

.testing-box {
    height: 100px;
    width: 900px;
    border-radius: 20px;
    background-color: wheat;
}
