:root {
    /* ===== 색 ===== */
    --main_color: #5762EA;
    --body-color: #E4E9F7;
    --sidebar-color: #5762EA;
    --primary-color: #fff;
    --text-color: #fff;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}