#button__select {
    background-color: var(--primary-color);
    box-shadow: var(--shadow);
    color: var(--main-color);
}

.home__title {
    margin-bottom: 34px;
}

.home-top-page-box {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.weather__box {
    width: 570px;
    height: 187px;
}

.daily__weather__box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.daily__weather__box > img {
    width: 127px;
    height: 127px;
    border-radius: 50%;
}

.weather__numnber {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.weather__first__number {
    font-size: 30px;
}

.weather__big__and__small {
    display: flex;
    font-size: 12px;
}

.weather__big {
    margin-right: 9px;
}

.kr__weather {
    font-size: 21px;
}

.weather__location {
    font-size: 12px;
}

.weather__scroll {
    width: 260px;
    height: 127px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    box-shadow: var(--shadow);
    overflow-x: auto;
    overflow-y: hidden;
}

.weather__time {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 27px;
    height: 71px;
    margin-right: 20px;
    flex-shrink: 0; 
}

.weather__time:first-child {
    margin-left: 20px;
}

.weather__time > i {
    color: #FFAC33;
    font-size: 27px;
}

.weather__time span:first-child {
    font-size: 12px;
}

.weather__time span:last-child {
    font-size: 15px;
}

.announcement-box {
    width: 570px;
    height: 187px;
}

.announcement-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 127px;
    display: flex;
    background-color: var(--primary-color);
    box-shadow: var(--shadow);
    border-radius: 20px;
}

.announcement-row__content {
    width: 471px;
    height: 42.3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.announcement-row__content:first-child {
    border-bottom: 0.5px solid #B8B8B8;
}

.announcement-row__content:last-child {
    border-top: 0.5px solid #B8B8B8;
}

.announcement-row__content__right {
    font-size: 12px;
}

.announcement-row__content__right span:first-child {
    opacity: 0.5;
}

.announcement-row__content__left span {
    font-size: 11px;
    opacity: 0.3;
}

.home-middle-page-box {
    display: flex;
    margin-top: 75px;
    margin-bottom: 35px;
}

.time__button {
    width: 126px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    color: #B7B7B7;
    margin-right: 20px;
    border-radius: 10px;
    font-weight: 400;
}

.home-bottom-page-box {
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: space-between;
}

.daily__time__box {
    width: 853px;
    height: 355px;
    border-radius: 20px;
    background-color: var(--primary-color);
    box-shadow: var(--shadow);
    padding: 33px 29px;
}

.show__time {
    width: 100%;
    height: 35.7px;
    display: flex;
    justify-content: space-between;
    padding-left: 55px;
    padding-right: 11px;
}

.show__time span {
    font-size: 13.6px;
    color: #B7B7B7;
}

.show__time__graph {
    width: 100%;
    height: 92%;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    position: relative;
}

.am__time {
    width: 100%;
    height: 50%;
    display: flex;
    position: relative;
}

.time__lab__am {
    width: 68px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 31px;
    padding-bottom: 31px;
    font-size: 13.6px;
    opacity: 0.8;
}

.graph__box {
    width: 705px;
    height: 100%;
    display: flex;
}

.graph__line {
    width: 44px;
    height: 100%;
    border-left: 0.8px solid #E9E9E9;
    border-bottom: 1px solid #C6C6C6;
}

.one__box:last-child {
    border-right: 0.8px solid #E9E9E9;
}

.nine__box {
    display: flex;
}

.ten__box {
    display: flex;
}

.ten__box .graph__line {
    width: 47px;
}

.one__box {
    display: flex;
}

.one__box .graph__line {
    width: 41px;
}

.pm__time {
    width: 100%;
    height: 50%;
    display: flex;
    position: relative;
}

.time__lab__pm {
    width: 68px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13.6px;
    opacity: 0.8;
}

.pm__time .graph__box .graph__line {
    border-bottom: none;
}

.graph__chackin__h {
    width: 43.6px;
    height: 29.75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #FFBF74;
    color: white;
    position: absolute;
    font-size: 12px;
    top: 23px;
    left: 68.8px;
}

.graph__subject__h{
    width: 278.6px;
    height: 29.75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: var(--main-color);
    color: white;
    position: absolute;
    font-size: 12px;
    top: 23px;
    left: 112.4px;
}

.graph__chackin__y {
    width: 43.6px;
    height: 29.75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #FFBF74;
    color: white;
    position: absolute;
    font-size: 12px;
    top: 80px;
    left: 68.8px;
}

.graph__subject__y {
    width: 278.6px;
    height: 29.75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: var(--main-color);
    color: white;
    position: absolute;
    font-size: 12px;
    top: 80px;
    left: 112.4px;
}

.graph__lunch {
    width: 169.2px;
    height: 29.75px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #FFBF74;
    position: absolute;
    font-size: 12px;
    border-radius: 10px;
    color: white;
    top: 116px;
    left: 391.8px;
}

.graph__last__subject {
    width: 204.2px;
    height: 29.75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: var(--main-color);
    color: white;
    position: absolute;
    font-size: 12px;
    top: 50px;
    left: 561.8px;
}

.daily__meal__box {
    width: 285px;
    height: 355px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: var(--primary-color);
    box-shadow: var(--shadow);
}

.daily__meal__box__lunch {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    padding: 28.9px 29px;
}
.title__lunch {
    font-size: 17.85px;
}

.daily__meal__lunch__list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 68px;
    color: var(--main-color);
    font-size: 14.45px;
}

.daily__meal__box__line {
    width: 85%;
    height: 1px;
    background-color: #707070;
    margin-left: 21.375px;
}

.daily__meal__box__dinner {
    width: 100%;
    height: 176.5px;
    display: flex;
    align-items: center;
    padding: 28.9px 29px;
}

.daily__meal__dinner__list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 68px;
    color: #B7B7B7;
    font-size: 14.45px;
}

#time {
    border-left: 1px solid var(--main-color);
}

#number__time {
    color: var(--main-color);
}

