#meal__home__padding {
    padding-right: 0px;
}

.meal__title {
    margin-bottom: 80px;
}

.meal__component{
    background-color: var(--primary-color);
    width: 300px;
    height: 560px;
    padding-right: 35px;
    padding-left: 35px;
    border-radius: 20px;
    box-shadow: var(--shadow);
    display: flex;
    justify-content: center;
    position: relative;
    margin-right: 30px;
}

.meal__component__daybox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 60px;
    border-radius: 28px;
    background-color: var(--main-color);
    position: absolute;
    top: -30px;
}

.meal__componet__title {
    color: white;
    font-size: 21px;
}


.meal__component__content__calendar {
    display: flex;
    align-items: flex-start;
    margin-top: 45px;
}

.meal__component__content__calendar > i {
    margin-right: 5px;
    color: var(--main-color);
}

.meal__component__content__calendar > span {
    font-weight: 500;
    font-size: 18px;
}

.meal__components {
    display: flex;
    align-items: center;
    width: 100%;
    overflow-y:hidden;
    overflow-x:scroll;
    padding-top: 40px;
    padding-bottom: 15px;
}

.meal__component__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meal__component__content__lunch {
    width: 230px;
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: var(--border-color);
}

.lunch__first__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--main-color);
}

.lunch__first__content > span {
    font-size: 25px;
    margin-bottom: 23px;
}

.lunch__second__content {
    margin-left: 70px;
}

.lunch__second__content > ul > li {
    font-size: 18;
    color: var(--main-color);
    margin-bottom: 15px;
}

.lunch__second__content > ul > li:last-child {
    margin-bottom: 0px;
}

.meal__component__content__dinner {
    width: 230px;
    display: flex;
    justify-content: flex-start;
}

.dinner__first__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(0,0,0,0.7);
}

.dinner__first__content > span {
    font-size: 25px;
    margin-bottom: 23px;
}

.dinner__second__content {
    margin-left: 70px;
}

.dinner__second__content > ul > li {
    font-size: 18;
    margin-bottom: 15px;
    color: rgba(0,0,0,0.7);
}

.dinner__second__content > ul > li:last-child {
    margin-bottom: 0px;
}

.meal__component:first-child {
    margin-left: 5px;
}