.menu {
  height: 100%;
  width: 260px;
  background-color: var(--main_color);
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 50px 20px 50px 37px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  box-sizing: border-box;
}

.gi_logo {
  width: 136px;
  height: 38px;
}

.menu__column {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 13px 16px;
  margin-left: -16px;
  border-radius: 30px;
}

.menu__columns {
  margin-top: 117px;
}

.menu__column__marker {
  background-color: white;
  color: var(--main_color);
}

.menu__column__title {
  display: flex;
  align-items: center;
}

.menu__column__title > i {
  font-size: 19px;
  margin-right: 19px;
}

.menu__column__title > h6 {
  font-size: 18px;
}

.menu__column__subtitle {
  font-size: 11px;
}
